.rfsm-slider {
  position: relative;
  transition: all .3s;
  overflow: hidden;

  .rfsm-slide {
    width: 100%;
  }
}

.slide-left-enter {
  transform: translate(100%, 0);

  &.slide-left-enter-active {
    transform: translate(0%, 0);
    transition: transform 500ms ease-in-out;
  }
}

.slide-left-leave {
  transform: translate(0%);
  position: absolute;
  top: 0;

  &.slide-left-leave-active {
    transform: translate(-100%, 0);
    transition: transform 500ms ease-in-out;
  }
}

.slide-right-enter {
  transform: translate(-100%, 0);

  &.slide-right-enter-active {
    transform: translate(0%, 0);
    transition: transform 500ms ease-in-out;
  }
}

.slide-right-leave {
  transform: translate(0%, 0);
  position: absolute;
  top: 0;

  &.slide-right-leave-active {
    transform: translate(100%, 0);
    transition: transform 500ms ease-in-out;
  }
}
